QFrame#app {
    background-color: #242424;
    color: white;
}

QFrame#top-row-container {
    background-color: rgba(0,0,0,0);
}

QFrame#status-widget {
    background-color: rgba(36, 36, 36, 0.8);
    border-radius: 12px;
}

QGraphicsView#speaker {
    background-color: rgba(0,0,0,0);
}

QGraphicsView#battery-widget {
    background-color: rgba(0,0,0,0)
}